VITE_SUPABASE_PROJECT_ID="test-project-id"
VITE_SUPABASE_PUBLISHABLE_KEY="supable_publishable_key"
VITE_SUPABASE_URL="supabase_url"
VITE_API_URL="http://localhost:3000"
VITE_ADDRESS_AUTOCOMPLETE_URL=""
VITE_ADDRESS_AUTOCOMPLETE_KEY=""
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX